/* Estilo geral da página */
body {
  margin: 0;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* Container da Pokédex */
.pokedex {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* Estilo das imagens */
.pokedex img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.clicavel {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Tela sobreposta após a Pokédex abrir */
#tela-pokedex {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #00ff00;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  pointer-events: none; /* evita que clique na tela por cima da pokédex */
}

#btn-iniciar {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #f00;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  pointer-events: all;
}

#btn-iniciar:hover {
  background-color: #c00;
}
